Host 192.168.254.*
        user bernard
        KeepAlive yes
Host xxx.xxx.xxx.xxx
        User bernard
        Port 443
        KeepAlive yes
Host *.x0xxx.xxx
        User bernard
        KeepAlive yes
Host xxx.xxx.xxx.xxx
	user root
	KeepAlive yes
Host *
        User bolducb
        KeepAlive yes
